@font-face {font-family: 'BebasNeueRegular'; src: url('BebasNeue-webfont.eot'); src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('BebasNeue-webfont.woff') format('woff'), url('BebasNeue-webfont.ttf') format('truetype'), url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');font-weight: normal; font-style: normal; }
@font-face {font-family:'Sapir';src:url("SapirSans.eot?") format("eot"),url("SapirSans.woff") format("woff"),url("SapirSans.ttf") format("truetype"),url("SapirSans.svg#Sapir") format("svg");font-weight:normal;font-style:normal;}

a:hover {color:#FF7C00 !important}
.myclear {clear:both}

/* Layout */
body.summit {background:url(../img/bkgrnd.jpg); margin:0; font-family:'Sapir';}
#summit-head-wrap {background:url(../img/head-bkgrnd.gif) repeat-x; height:235px; padding-top:24px}
#summit-head-wrap #header-info {color:#FFF; text-align:center; font-size: 20px; padding-top: 126px;}
#summit-head-gradient {background:url(../img/header-gradient.png) no-repeat center; height:155px; margin-top:34px}
.summit header, .summit nav {width:960px; margin:0 auto; position:relative; height:220px; font-family: 'BebasNeueRegular';} 
.summit header #logo {position:absolute; background:url(../img/summit-logo.gif) no-repeat; height:151px; width:460px; margin:0 auto; text-indent:-9999em; left:250px; top:-34px}
#summit-nav-wrap {background: url("../img/menu-bkgrnd.png") no-repeat center; box-shadow: 0 1px 5px #666; height: 48px; margin-top: 10px; position: absolute; top: 214px; width: 100%; z-index: 100;}
.logged-in #summit-nav-wrap {margin-top: 40px}
.summit nav {height:48px; margin:0 auto}
#summit-main {background-color: #FFF; box-shadow: 0 4px 4px #999; margin: 0 auto; width: 900px; padding:10px 30px}
.summit footer {background-color: #FF7C00; height: 65px; margin: 0 -30px -10px; padding: 20px 30px; font-size:12px; color:#FFF;}
#summit-foot-left {float:left}
#summit-foot-right {float:right; text-align:right; padding-top:28px}
.summit footer a {color:#FFF}
.summit footer a:hover {color:#3BC0DF !important}
#summit-content {background:url(../img/content-bkgrnd.gif) repeat-y; margin:12px 0 20px}
#summit-content-left {float:left; width:585px; padding-right:40px;}
#summit-content-right {float:right; width:275px;}

/* navigation menu */
#superfish-2 {text-align: center; width: 960px;}
#superfish-2 li {display:inline-block; float:none}
#superfish-2 li a {color: #FFF; font-size: 22px; height: 46px; line-height: 50px; margin-top: 1px; padding: 0 14px; text-decoration: none;}
#superfish-2 li a.active {background-color: #9DD20F;}

	/* level 2 */
	#superfish-2 ul li {background: #FFFFFF; border:1px solid #CCC;}
	#superfish-2 ul li a {color:#FF7C00 !important}
	#superfish-2 ul li a:hover {color:#666666 !important}

/* main content area */
#summit-content-left h1, #summit-content-left h2, #summit-content-left h3 {font-family: 'BebasNeueRegular'; margin:10px 0; color:#FF7C00; font-size:28px; font-weight:normal}
#summit-content-left h2 {margin: 20px 0 0}
#summit-content-left h3 {color:#000; font-size: 20px; margin:20px 0 0px}
#summit-content-left p {margin:0 0 10px; font-size:0.875em; line-height:18px;  text-align: justify}
#summit-content-left ul {font-size:0.875em; line-height:18px; margin-top: 0; padding-left: 15px; list-style: circle}

/* side blocks */
#summit-content-right h2 {background-color: #3BC0DF; color: #FFF; font-family: 'BebasNeueRegular'; font-weight: normal; height: 46px; line-height: 48px;     margin: 0; text-align: center;}
#summit-content-right .content {text-align: center; padding: 10px 0}
.speaker-left {float:left}
.speaker-right {float: right}
.speaker-right h3 { font-size: 0.875em; font-weight: normal; margin: 0 0 5px; text-align: left; text-transform: uppercase;}
.speaker-right ul {font-size:0.75em; line-height:18px; margin: 0; padding: 0; list-style: none; text-align: left}
.speaker-right li {margin-bottom: 5px; line-height: 14px}
.summit-keynotes .speaker {width:132px}
.summit-keynotes .speaker img {max-width: 100%; height: auto}
#block-block-9 p {margin-top: 0}


/* speakers page */
.page-node-296 #page-title {display: none;}
.page-node-296 h2.ln-page-title {margin:10px 0 !important}

/* partners page */
.partner {padding: 10px 0; border-bottom: 1px dotted #CCC}
.partner-logo {float:left; margin-right: 10px}
.partner-bio p {padding-left: 210px}
.partner.last {border-bottom:none}