/*
font-family: 'Source Sans Pro', sans-serif; 300, 400, 600
font-family: 'Fanwood Text', serif;

blue: #184783
*/

body {background:url(/sites/all/themes/leadnewark/img/bkgrnd.png); font-size:0.95em; margin:0; font-family: 'Source Sans Pro', sans-serif; font-weight:300}
.myclear {clear:both}
p {margin:0}
a {color:#369; text-decoration:none}
a:hover {color:#F90 !important}


#body-wrap {background-color:#FFF; margin:0 30px}
#wrapper {margin:30px auto; background-color:#FFF; width:900px; padding:0 40px 20px}
.front #main {background:url(../img/main-front-bkgrnd.jpg) repeat-y}
.front #block-system-main {display:none}

.hd1 {height:150px; border-bottom:8px solid #184783; position:relative}
#logo {text-indent:-9999em; width:282px; height:120px; float:left; margin-top:27px; background:url(../img/logo.gif) no-repeat}
#headerMenu {position:absolute; top:10px; right:0; font-size:0.9em}
#headerMenu li {border-left: 1px solid #CCC; 
    float: right;
    line-height: 10px;
    list-style-type: none; 
    margin-left: 10px;
    padding-left: 10px;}
#headerMenu li.last {border-left:none} 

.hd1 nav {margin-top:120px; float:right; font-family: 'Source Sans Pro', sans-serif; font-weight:400}

/* top level */
.hd1 nav li {margin-left:20px;}
	.hd1 nav li a, .hd1 nav li span {padding-top:2px; border-top:2px solid #FFF; display:block}
	.hd1 nav li a:hover, .hd1 nav li span:hover {border-top:2px solid #184783; cursor:pointer}
	.hd1 nav li a.active, .hd1 nav li.active-trail a, .hd1 nav li.active-trail span {border-top:2px solid #184783}
	.hd1 nav ul ul li a {border-top:none !important}
.hd1 nav li a {text-decoration:none; color:#000}

/* second level */
.hd1 nav ul ul {background:#FFF !important; border-radius: 0 !important; box-shadow: 2px 2px 2px #666; margin-top: -10px; opacity: 0.9; z-index:99}
.hd1 nav ul ul li {border-bottom: 1px dotted #666; margin: 3px 0; padding: 3px 0 10px 10px;}
.hd1 nav ul ul li.last {border-bottom:none; padding-bottom:0}
.hd1 nav ul ul li a:hover {color:#F90}

.front #content {float: left; width: 580px; padding: 10px 20px 10px 0;}
.not-front #content {float: left; width: 900px; padding: 10px 0; min-height:400px}
.node-type-page #content, .node-type-profile #content, .page-fellows #content, .page-contact #content , .node-type-article #content, .node-type-blog-post #content {background:url(../img/contentbkgrnd.gif) no-repeat 0 20px; margin:10px 0}
.page-fellows #content {background-position:-70px 20px; position:relative}

/* Homepage Sidebar */
#rightcol {float:right; width:300px; background-color:#F5EDDE;}
#rightcol .block-span {background:url(/sites/all/themes/leadnewark/img/side-ribbon.png) no-repeat right; margin-right:-14px; display:block; height:41px; padding:8px 0 0 120px }
#rightcol .block-title {display:block; background-color: #FAC45E; margin:0 14px 0 0; height:41px; line-height:41px; text-transform:uppercase; font-size:0.938em; text-align:right; position:absolute; width:182px; font-weight:600}
#rightcol .block .content {margin:-20px 20px 30px; padding-top:25px}
#rightcol .twitter .content {background-color:#FFF;}
#rightcol .twtr-hd {display:none}
#rightcol .twtr-ft {background-color: #FAC45E;}
#rightcol .twtr-doc {border-radius:0}
#rightcol .twtr-timeline {border:none}
#rightcol #twtr-widget-1 .twtr-doc {background-color:#FFF !important} 

.timeline {border:none}

.ft1 {border-top:5px solid #000; padding-top:2px}
#socialmedia {border-top:2px solid #000; border-bottom:2px solid #000; height:40px; line-height:40px; font-family:'Fanwood Text', serif; font-weight:400}
#socialmedia a {display:block; height:24px; width:24px; float:left; margin:8px 5px 0 0; text-indent:-9999em}
#socialmedia span {float:left; margin-right:5px}
#socialmedia a.twitter {background:url(../img/socialmediaicons.png) no-repeat}
#socialmedia a.facebook {background:url(../img/socialmediaicons.png) no-repeat -24px 0}
#socialmedia a.linkedin {background:url(../img/socialmediaicons.png) no-repeat -48px 0}
#edit-profile-footer {height:40px; line-height:25px; font-family:'Fanwood Text', serif; font-weight:400; float:right}	
#edit-profile-footer a {text-indent:inherit; width:inherit}
#copyright {font-size: 0.8em; margin-top: 5px; text-align: right;}

/* slideshow */
.slides_container {width:840px; height:260px; padding:20px 20px 20px 40px; }
.slides_container div {width:900px; height:260px; display:block; }
#slides {position: relative;}
#slides a.prev, #slides a.next {position: absolute; display:block; width:47px; height:46px; text-indent:-9999em; background:url(/sites/all/themes/leadnewark/img/slides/arrows.png) no-repeat; top:125px; z-index:25}
#slides a.prev {left:-25px; background-position: 0 -47px;}
	#slides a.prev:hover {background-position:0 0} 
#slides a.next {right:-25px; background-position:-47px -47px}
	#slides a.next:hover {background-position:-47px 0} 
/*.slides_control > div {background-color: #FFF; opacity: 0.85; width: 419px;}*/

/* Homepage News */
#block-views-homepage-news-block h2, .page-title, .block-simplenews h2, .webform-component h2 {font-family:'Fanwood Text', serif; font-weight:400; border-bottom:2px solid #bdc8d5; margin-top:0; line-height:24px; text-transform:uppercase; font-size:16px}
.view-homepage-news .views-row {float: left; padding: 0 12px; width: 176px;}
.view-homepage-news .views-field-body {font-size:0.938em}
.view-homepage-news .views-row-1 {padding-left:0}
.view-homepage-news {background:url(../img/home-views-bkgrnd.gif) repeat-y;  padding-bottom: 10px;}
.view-homepage-news .views-row-3 {padding-right:0}
.view-homepage-news .views-field-field-pubdate {margin: 15px 0; color:#000}
.view-homepage-news .views-field-title {line-height:16px}
.view-homepage-news .views-field-field-pubdate span {background-color: #E3E3E6; border-radius: 10px 10px 10px 10px; font-size: 0.9em; padding: 2px 10px;}
.view-homepage-news .views-field-title a {font-weight:bold; text-decoration:none; text-transform:uppercase; color:#184783}
#block-views-homepage-news-block {margin:15px 0 20px 0}

/* Homepage Blocks */
.announce ul {margin-top: 0; padding-left: 0;}
.announce li {font-weight:bold; font-size:0.938em; list-style:none; margin-top:5px; margin-bottom:10px}
.announce li li {font-weight:normal; font-size:0.875em; list-style:disc; margin:0 0 0 30px;}
.announce ul li:first-child {margin-top:0}
#rightcol .announce {margin-top:-2px}
#rightcol .announce .block-title {background: none repeat scroll 0 0 transparent; border-bottom: 2px solid #000000; display: inline;
    height: 32px;
    margin-left: 20px;
    padding: 0 0 1px 0;
    position: inherit;
    text-align: left; font-size:1.125em}
#rightcol .announce .block-span {background:none; padding:0}
.support-newark {width:364px; float:left; border-right:1px solid #E6E7Ed; padding:10px 10px 10px 0}
.support-newark h2 {font-family: 'Fanwood Text', serif; font-size:18px; margin:0; padding:0; line-height:22px}
.support-newark img {margin-right:8px; margin-top:-9px}
.support-newark p,.fav-places p {font-size:0.9em}

#rightcol .twtr-ft {height:25px}
#rightcol .twtr-ft a {margin-top:-5px}

.fav-places {background-color:#DADCE0; float:right; padding:10px; margin-top:10px; width:170px}
.fav-places h2 {color: #264B88; font-family: 'Source Sans Pro',sans-serif; font-size: 20px; font-weight: 600; line-height: 10px; margin: 0 0 10px; text-transform: uppercase;}
.simplenews-subscribe label, .simplenews-subscribe input {float: left; margin-right: 10px;}
.simplenews-subscribe #edit-mail {border: 1px solid #CCCCCC; border-radius: 5px 5px 5px 5px; color: #666666; font-size: 16px; height: 20px; padding-left: 5px; width: 250px;}
.front .block-simplenews {border-bottom: 1px solid #BDC8D5; height:120px; margin-bottom:10px; margin-top:30px}

h2.separator {border-bottom: 1px solid #000; margin-bottom: 10px !important; clear:both}

/* Pages */
#page-title {border-bottom:none; font-size:1.25em; margin:6px 0 20px 0; font-family:'Fanwood Text', serif; font-weight:400; line-height:24px; text-transform:uppercase; padding-left:140px;}
#page-left {float:left; width:120px; margin-top:-40px}
#page-right {float: right; width: 760px; margin-left: 20px;}
.field-name-body p, .webform-component-markup p {margin-bottom:10px; }
.field-name-body h2, .node-type-profile .field-name-field-board-position, #comments h2 {color:#CC8605; font-size:1.1em; margin:20px 0 0; font-weight:bold}
.field-name-body h2:first-child {margin-top:0}
.fullwidth #page-title {padding-left:0}
.fullwidth #page-left {display:none}
.fullwidth #page-right { float: none; margin-left: 0; width: 900px;}
.fullwidth #content {background:none !important}

/* Board Page */
#node-171 .views-row {float:left; width:215px; padding-right:10px}
#node-171 .views-row {height:120px}
#node-171 .views-field-field-headshot {float:left; margin-right:5px}
#node-171 .views-field-field-board-position {font-weight:bold}
#node-171 .views-field-field-position {font-style:italic}

/* Staff Page*/
.staff-listing .views-row {margin:0 0 40px -140px}
.staff-listing .views-field-field-headshot {float:left; margin-top:5px}
.staff-listing .views-field-title, .staff-listing .views-field-body, .node-type-profile .field {padding-left:140px}

/* Profile Pages*/
.node-type-profile .field-name-field-headshot {padding-left:0; float:left; margin-top:-20px}
.node-type-profile .field-name-field-committee {color: #666; font-size: 0.938em; margin-bottom: 10px;}
.node-type-profile .field-name-field-position {float:left; padding-left:20px; margin-right:3px}
.node-type-profile .field-name-field-position .field-item:after {content: ", ";}
.node-type-profile .field-name-field-position, .node-type-profile .field-name-field-company {font-style:italic; margin-bottom:5px}
.node-type-profile #page-title {margin-bottom:0}
.node-type-profile .field-name-field-board-position {margin-top:0} 
.node-type-profile .field .field-label {font-weight:inherit}

/* Class Listing Page */
#views_slideshow_cycle_main_class_listing-page {float: right; width: 810px; padding-top:15px}
#widget_pager_bottom_class_listing-page {float:left}
.page-fellows .views-content-name {color:#184783; font-weight:bold; font-size:1.125em}
.page-fellows .views-content-name:hover {color:#F90; cursor:pointer}
.views-slideshow-pager-fields {width:71px; margin-top:20px; padding-left:4px}
.views-slideshow-pager-fields .active .views-content-name {color:#F90}
.page-fellows #page-title {padding-left:90px; margin-bottom:-15px}
.page-fellows .views-field-description {width:600px; font-size:0.875em}
.page-fellows .views-field-field-class-picture img {margin-top:20px}
.page-fellows #classof {color: #000; font-size: 1.063em; font-weight: bold; position: absolute; text-decoration: underline; text-transform: uppercase; top: 15px;} 

/* Listing Pages */
.page-funders #page-title, .page-blogs #page-title, .page-news #page-title, .page-jobs #page-title, .node-type-job-posting #page-title, .page-image-galleries #page-title, .page-alumni-directory #page-title, .page-board-directory #page-title {padding-left:0} 
.nwk-list .views-field-field-image, .nwk-list .views-field-field-funderslogo {float:left; margin-left:-130px}
.nwk-list .views-row {clear: both; padding:10px 10px 10px 140px; min-height:80px; width:750px}
.jobs-list .views-row {clear: both; padding:10px; min-height:80px; width:880px}
.nwk-list .views-field-field-pubdate, .nwk-list .views-field-created {color:#666}
.nwk-list .view-header {margin:0 0 20px 0;}
.nwk-list .views-field-title, .jobs-list .views-field-title {font-weight:bold}
.nwk-list .views-row-odd, .jobs-list .views-row-odd {background-color:#E3E3E6}
.gallery .views-field-title {width:160px}
.gallery .views-field-created, .views-field-field-pubdate, .field-name-field-pubdate {color:#666}
.gallery .views-view-grid td {height:inherit}
.gallery .views-view-grid .row-1 td {padding-top:0}
.gallery .row-last {height:210px}

/* Contact Page */
.page-contact #block-system-main {float:right; width:758px}
.contact-info {float:left; width:120px; font-size:13px; margin-top:-40px}
#contact-site-form {margin-top:-20px}

/* Image Galleries */
.node-type-image-gallery #page-title {padding-left:0}
.node-type-image-gallery .field-name-field-image {text-align:center; width:900px;}
.node-type-image-gallery .field-slideshow-carousel-wrapper {position:relative}
.node-type-image-gallery .field-slideshow {margin:0 auto}
.node-type-image-gallery .jcarousel-item {margin:0 2px; width:60px !important}
.node-type-image-gallery .field-slideshow-carousel {width:640px; margin:0 auto}
a.carousel-prev, a.carousel-next {position:absolute; display:block; width:24px; height:61px; background:url(../img/arrows.png) no-repeat; text-indent:-9999em}
a.carousel-prev {background-position: -24px 0; left: 104px}
a.carousel-next {right:104px; bottom:4px}
a.carousel-prev:hover {background-position:-24px -61px}
a.carousel-next:hover {background-position:0 -61px}
.node-type-image-gallery #comments {display:none}
.node-type-image-gallery .field-item {float:left; margin: 1px 0 1px 1px}
.node-type-image-gallery .field-name-body .field-item{float:none; margin:0 0 10px 0}
.field-imagematrix-image img:hover {opacity:0.5}

/* News & Blogs */
.node-type-article .field-name-field-image, .node-type-blog-post .field-name-field-image {float:left; margin-top:-20px}
.node-type-article .field-name-field-pubdate, .node-type-article .field-name-body, .node-type-blog-post .field-name-body, .node-type-blog-post .field-name-field-pubdate {padding-left:140px}
.node-type-article .field-name-field-pubdate, .node-type-blog-post .field-name-field-pubdate {color:#666; margin-bottom:20px}
.node-type-article #page-title, .node-type-blog-post #page-title, .node-type-job-posting #page-title {text-transform:none; margin-bottom:0}
.nwk-byline {padding-left:140px}
.node-type-blog-post .field-name-field-image {margin-top:-40px}

/* Comments */
#comments {padding-left:140px; }
#comments h2 {border-top:2px solid #184783; padding-top:10px}
.comment-add {display:none !important}
.comment {border-bottom: 1px dotted #666; padding: 10px 0;}
.comment h3 {margin:0}
.comment .submitted {color:#666; font-style:italic}

/* Favorite Places */
.page-favorites #page-title {padding-left:0; margin-bottom:0}
.fav-list .views-view-grid tr {border-bottom:1px solid #CCC}
.fav-list .views-view-grid tr.row-last {border-bottom:none}
.views-view-grid td {vertical-align: top; width:220px; height:220px; padding-top:30px}
.fav-list .views-field-field-logo img {border:1px solid #CCC}
.fav-list .views-field-title {font-size: 0.9em;}
.fav-list .views-field-field-address {font-size: 0.9em;}
.fav-list .views-field-field-phone-number {font-size: 0.9em;}

/* Application */
#webform-component-referral {margin-right:50px}
.form-item input.error, .form-item textarea.error, .form-item select.error {background-color: #FFCCCC;
    border: 1px solid red;}
.webform-client-form {font-size:0.9em}
.webform-component-textfield input, .webform-component-email input, .webform-component select, #edit-submitted-special-needs-other {border: 1px solid #CCC; border-radius: 5px; color: #666; padding: 3px; width:294px}
.webform-component select {padding:3px; height:23px}
.webform-component textarea {border:1px solid #CCC; border-radius:5px; padding:5px; color:#666; font-size:1em; font-family: 'Source Sans Pro', sans-serif;}
.webform-component-textfield, .webform-component-email, .webform-component-select, .webform-component-date {float:left; width:314px; margin:0; height:62px}
.webform-component h2 {clear:both; padding-top:40px}
.webform-client-form .form-actions {clear:both; padding-top:20px}
.webform-client-form .form-actions input:first-child {margin-right:20px}
.webform-component label {padding-left:2px}

#webform-component-mi {width:35px}
#webform-component-mi input {width:15px}
#webform-component-nickname, #webform-component-nickname input {width:225px}
#webform-component-city, #webform-component-city input {width:260px}
#webform-component-state select {width:302px; height:22px}
#webform-component-zip, #webform-component-zip input, #webform-component-business-zip, #webform-component-business-zip input {width:120px}
#webform-component-home-phone, #webform-component-home-fax, #webform-component-cell-phone, #webform-component-business-phone, #webform-component-business-fax, #webform-component-business-cell-phone {width:180px}
#webform-component-home-phone input, #webform-component-home-fax input, #webform-component-cell-phone input, #webform-component-business-phone input, #webform-component-business-fax input, #webform-component-business-cell-phone input {width:160px}
#webform-component-home-email {clear:left; float:left}

.webform-datepicker {width:300px;}
.webform-datepicker .form-type-select select {width:70px}
#webform-component-position-title, #webform-component-position-title input {width:260px}
#webform-component-business-city, #webform-component-business-phone {clear:both; float:left}
#webform-component-business-state select {width:307px}
#webform-component-job-responsibilities {clear:both} 
#webform-component-present-field, #webform-component-present-field .description {margin-top:-15px}
#webform-component-prev-employer1, #webform-component-prev-employer2,  #webform-component-prev-employer3 {width:200px; clear:both; float:left}
#webform-component-prev-employer1 input, #webform-component-prev-employer2 input, #webform-component-prev-employer3 input {width:180px}
#webform-component-prev-position-title1, #webform-component-prev-position-title2, #webform-component-prev-position-title3 {width:180px}
#webform-component-prev-position-title1 input, #webform-component-prev-position-title2 input, #webform-component-prev-position-title3 input {width:160px}
#webform-component-prev-emp1-date-start, #webform-component-prev-emp2-date-start, #webform-component-prev-emp3-date-start, #webform-component-prev-emp1-date-end, #webform-component-prev-emp2-date-end, #webform-component-prev-emp3-date-end {width:260px}

#webform-component-organization, #webform-component-nature-of-organization, #webform-component-organization2, #webform-component-nature-of-organization2, #webform-component-organization3, #webform-component-nature-of-organization3 {width:240px}
#webform-component-organization input, #webform-component-nature-of-organization input, #webform-component-organization2 input, #webform-component-nature-of-organization2 input, #webform-component-organization3 input, #webform-component-nature-of-organization3 input {width:220px}
#webform-component-position, #webform-component-active-dates, #webform-component-position2, #webform-component-active-dates2, #webform-component-position3, #webform-component-active-dates3 {width:200px}
#webform-component-position input, #webform-component-active-dates input, #webform-component-position2 input, #webform-component-active-dates2 input, #webform-component-position3 input, #webform-component-active-dates3 input {width:180px}
#webform-component-greatest-accomplishment {clear:left}

#webform-component-edu-name, #webform-component-edu-name2, #webform-component-edu-name3 {clear:both; float:left; width:240px}
#webform-component-edu-name input, #webform-component-edu-name2 input, #webform-component-edu-name3 input {width:220px}

#webform-component-edu-city-state, #webform-component-edu-city-state2, #webform-component-edu-city-state3 {width:180px}
#webform-component-edu-city-state input, #webform-component-edu-city-state2 input, #webform-component-edu-city-state3 input {width:160px}

#webform-component-edu-years-enrolled, #webform-component-edu-years-enrolled2, #webform-component-edu-years-enrolled3 {width:140px}
#webform-component-edu-years-enrolled input, #webform-component-edu-years-enrolled2 input, #webform-component-edu-years-enrolled3 input {width:120px}

#webform-component-edu-major, #webform-component-edu-major2, #webform-component-edu-major3 {width:130px}
#webform-component-edu-major input, #webform-component-edu-major2 input, #webform-component-edu-major3 input {width:110px}

#webform-component-edu-degree, #webform-component-edu-degree2, #webform-component-edu-degree3 {width:190px}
#webform-component-edu-degree input, #webform-component-edu-degree2 input, #webform-component-edu-degree3 input {width:170px}

#webform-component-emerg-daytime-phone-number, #webform-component-emerg-evening-phone-number {width:200px}
#webform-component-emerg-daytime-phone-number input, #webform-component-emerg-evening-phone-number input {width:180px}
#webform-component-age {width:100px}
#webform-component-age select {width:80px}
#webform-component-sex {float: left; margin-top: 0; width: 100px;}
#webform-component-special-needs {float: left; margin-top: -15px; width: 175px; height:130px}
#edit-submitted-special-needs-other {width:150px}
.form-item-submitted-special-needs-other {margin-top:-10px}

#webform-component-employment-record h2, #webform-component-employment-history h2, #webform-component-civic-involvement h2, #webform-component-personal-goals h2, #webform-component-vision-community h2, #webform-component-education h2, #webform-component-recognitions h2, #webform-component-emergency-contact h2, #webform-component-references h2, #webform-component-pers-bkgrnd h2, #webform-component-applicant-commitment h2 {padding-top:10px}

/* User pages */
.page-user #page-title {padding-left:0}
.page-user .form-type-textfield input {border: 1px solid #CCC; border-radius: 5px; color: #666; padding: 3px;}
.page-user .form-item-mail .description {width:420px}

.nwk-thx #messages {display:none}
.nwk-edit {float:right; margin-top:-25px}
.node-type-page .nwk-edit {margin-top:-45px}
.sharethis-buttons {text-align:right; margin-bottom:-15px}
span.stButton {margin-left:0} 
.node-type-image-gallery .sharethis-buttons {margin-bottom:0}

/* pdf stuff */
.pdf-download {border: 1px solid #CCC; float: left; margin:-20px 0 20px 140px; padding: 10px;}
.pdf-download h3 {font-family: 'Fanwood Text',serif; font-size: 1.25em; font-weight: 400;     line-height: 24px; margin:0}
.pdf-download p {font-style:italic; font-size:0.875em}
.withpdf .sharethis-buttons {float: right; margin-bottom: -100px; margin-top: 110px;}

/* Directory */
.view-content table {width:100%; border-bottom:1px solid #CCC; margin-top:15px}
.view-content table th {border-bottom:2px solid #CCC}
.view-content table th.views-field-field-first-name {border-left:none}
.view-content table td {padding:5px}
.view-content table td.active {background:none; font-weight:bold}
.view-content table tr.odd {border-bottom:none; padding:inherit; background:none}
.view-content table tr.even {border-bottom:none; padding:inherit; background:#E3E3E6}
.view-content table .views-field-field-first-name {border-left:1px solid #CCC}
.view-content table .borders {border-left:1px solid #CCC; border-right:1px solid #CCC}

#edit-field-first-name-value-wrapper, #edit-field-last-name-value-wrapper {width:160px}
#edit-field-first-name-value-wrapper input, #edit-field-last-name-value-wrapper input {width:160px}
#edit-field-city-value-wrapper {width:140px}
#edit-field-city-value-wrapper input {width:140px}
.views-submit-button, .views-reset-button {margin-top:-4px}
.views-exposed-form {margin-top:15px}

.item-list .pager li {padding:0} /* Reset the base style */		
ul.pager {margin:20px 0; font-family:Verdana, Geneva, sans-serif; text-transform:uppercase; font-size:10px}
ul.pager li {text-align:center; padding:0; margin: 0;}
ul.pager a {padding: 2px 3px; margin: 2px;border: 1px solid #818286; text-decoration: none; color: #666;}
ul.pager a:hover {border: 1px solid #818286;background-color:#818286;color: #fff !important;}
ul.pager .pager-current {padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #CCC; font-weight: bold;  background-color: #FFF; color: #336699;} 

#cboxNext, #cboxPrevious, #cboxClose {border:none}


